h1 {
    text-align: center;
    font-family: arial;
    color: greenyellow;
    background-color: rosybrown;

}

h6 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: red;
    background-color: slategray;
}



